@media(min-width:0px) {
  .hero_image {
    background-color: #cccccc;
    min-height: 579px;
  }

  .features_image {
    background-color: #cccccc;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
  }

  .hero_image .hero_video {
    display: flex;
  }
}

@media(min-width:576px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}