.rh5v-DefaultPlayer_component {
  position: relative;
}

.rh5v-DefaultPlayer_video {
  width: 100%;
  object-fit: cover;
}

.fullscreen .rh5v-DefaultPlayer_video {
  height: auto;
  object-fit: revert;
  object-position: center;
  position: relative !important;
}

.rh5v-Fullscreen_component {
  bottom: 78px;
  display: flex;
  background: transparent;
  padding: 0;
  position: absolute;
  border-radius: 50%;
  border: none;
  right: 20px;
}

.rh5v-Fullscreen_button {
  width: 45px;
  height: 45px;
  background-color: rgba(255, 255, 255, 0.15);
  border: 1px solid #ffffff;
  background-image: url('../images/fullscreen.svg');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  cursor: pointer;
  transform: scale(1);
  transition: transform 0.2s;
}
.fullscreen .rh5v-Fullscreen_component {
  transform: none !important;
}
.rh5v-Fullscreen_button:hover {
  transform: scale(1.2558);
}
.rh5v-Fullscreen_button:focus {
  outline: none;
}

.rh5v-Fullscreen_button .rh5v-Fullscreen_icon {
  display: none;
}

.rh5v-Overlay_inner {
  display: none;
}

@media (min-width: 576px) {
  .rh5v-Fullscreen_component {
    bottom: 78px;
    right: 30px;
  }
}

@media (min-width: 768px) {
}
@media (min-width: 1200px) {
  .rh5v-Fullscreen_component {
    bottom: 30px;
    right: 50px;
  }

  .rh5v-Fullscreen_button::before {
    color: #ffffff;
    content: 'FULL SCREEN';
    position: absolute;
    font-family: Roboto;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0.05em;
    max-width: 39px;
    text-align: right;
    top: 50%;
    left: calc(-100% - 10px);
    transform: translateY(-50%) scale(1);
    transition: transform 0.2s;
  }

  .fullscreen .rh5v-Fullscreen_button::before {
    content: 'EXIT FULL SCREEN';
    max-width: 55px;
    left: calc(-100% - 26px);
  }

  .rh5v-Fullscreen_button:hover::before {
    transform: translateY(-50%) scale(0.8);
  }
}
