html,
body {
  font-size: 13px;
}

.at_navbar_top {
  background: #3e3e3e;
  height: 20px;
}

.navbar_brand {
  color: #f5f5f5;
}

.at_navbar_bottom {
  background: #d7000c;
  color: #fff;
}

.at_text_primary {
  color: #3e3e3e;
}

.at_van_proud {
  color: #d7000c;
  padding-left: 20px;
  font-weight: bold;
}

.hero_image {
  background-color: #cccccc;
}

.hero_cta_section {
  background-color: #e7f0f9;
  height: 300px;
}

.hero_cta_bubble {
  margin-top: -60px;
  text-align: center;
}

.hero_cta_know_more {
  margin-top: 20px;
  vertical-align: center;
}

.features_image {
  background-color: #cccccc;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

.bottom_features_section {
  margin-top: 60px;
}
