.wrapper {
  background-color: #c4c4c4;
  border-radius: 0 4px 4px 0;
  bottom: 50px;
  left: 0;
  overflow: hidden;
  position: fixed;
  text-align: center;
  z-index: 99;
  transition: transform 0.2s;
  transform: translateX(-100%);
}

.wrapper.showAd {
  transform: translateX(0);
}

.holder {
  position: relative;
}

.imageHolder {
  display: flex;
}

.contentOuter {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.contentInner {
  display: flex;
  height: 100%;
  justify-content: center;
  padding-top: 3px;
  position: relative;
}

.dismissButton {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  background: transparent;
  display: inline-flex;
  border: none;
}

.buildButton {
  background-color: #ffffff;
  border: none;
  border-radius: 100px;
  bottom: 25px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.05em;
  line-height: 17px;
  padding: 14px 32px;
  position: absolute;
  text-align: center;
}

.dismissButton:focus,
.buildButton:focus {
  outline: none;
}
