@media(min-width:0px) {
  .at_footer {
    padding-top: 40px;
    padding-bottom: 84px;
    max-width: 1440px;
    margin: auto;
    position: relative;
    background-color: #ffffff;
  }

  .wrapper {
    position: relative;
  }

  .ad_container {
    position: relative;
  }

  .ad_box {
    align-items: flex-end;
    display: flex;
    width: 100%;
    height: 100%;
    left: 0;
    min-width: 250px;
    padding-top: 30px;
    padding-bottom: 30px;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  .ad_inner {
    max-width: 270px;
  }

  .ad_box .ad_heading_big {
    color: #ffffff;
    font-size: 48px;
    font-weight: 300;
    line-height: 48px;
    text-align: left;
  }

  .ad_box .ad_heading_big strong {
    display: block;
    font-weight: 700;
  }

  .ad_box .ad_heading_I {
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0em;
    margin-bottom: 20px;
  }

  .ad_box .ad_button {
    background-color: #C10000;
    border-color: #C10000;
    border-radius: 52px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.05em;
    padding: 13px 36px;
    text-align: center;
    text-transform: uppercase;
  }
}

@media(min-width:576px) {}

@media (min-width: 768px) {
  .at_footer {
    padding-bottom: 55px;
  }

  .ad_box {
    align-items: center;
  }

  .ad_box .ad_heading_big {
    font-size: 100px;
    line-height: 100px;
  }

  .ad_box .ad_heading_big span {
    display: block;
  }
}

@media (min-width: 992px) {}

@media (min-width: 1200px) {
  .at_footer {
    padding-top: 60px;
    padding-bottom: 110px;
  }
}